body {
	background-color: #fff;
	font-family: 'Helvetica Neue', 'Trebuchet MS', Arial, sans-serif;
	color: #222;
	font-size: 18px;
	margin: 12px;
}

A { 
	color: #960;
}

#arena {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 6px solid #ddd;
	background: url(/images/bg.png) top left;
}

.contained {
	text-align: left;
	width: 800px;
	margin: 8px auto;
}

.title {
}

#controls {
	float: right;
}

.coffee {
	color: #960;
}

#bots .bot {
	border-bottom: 1px solid #ddd;
	padding: 8px;
	font-size: 15px;
	min-height: 32px;
}

#bots .bot IMG {
	vertical-align: middle;
	max-width: 32px;
	max-height: 32px;
	float: left;
	margin-right: 16px;
}

.bot .name {
	font-weight: bold;
	float: left;
	margin-right: 20px;
}

#addbot {
	float: right;
}

.bot .stats {
	float: right;
}

.bot .stats DIV {
	width: 100px;
}

.bot .stats.dead {
	color: #c00;
	font-weight: bold;
	font-size: 1.1em;
}

.choosebot, .stats div {
	float: left;
	margin-right: 12px;
}

.choosebot { display: none; }
